
.men{
    position: relative;
    color:rgb(47, 47, 47);
    text-decoration: none;
  }
  
  .men::after {
    content: ' ';
    display: block;
    width: 100%;
    height: .2em;
    position: absolute;
    bottom: -.5em;
    left: 0;
    right: 0;  
    background: yellow;  
    transform: scaleX(0);
    pointer-events: none;
    transition: transform .15s ease;

  }
  
  .men:hover::after {
    transform: scaleX(1);
    
  }
  
  .Options{
    padding-top: 30px;
    font-size: x-large;
    padding-left: 100px;
   
    
  }
  
  
  